* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}
html {
  background-color: #edf6f9;
  color: #000;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header {
  /* background-image: url('');  */
  background: #212529;
  color: #fff;
  padding: 0;
  text-align: center;
  background-attachment: fixed;
  height: 80vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.custom-search {
  color: #dee2e6;
  border: 1px solid #6c757d;
  transition: all 0.1s;
}
button .custom-search {
  background-color: #33353d;
}
.custom-search:hover,
:active {
  background-color: #6c757d;
  border: none;
  box-shadow: none;
}

.btn-primary1 {
  background-color: #6c757d;
  color: #dee2e6;
  border: 0;
  transition: all 0.1s;
}
.btn-primary1:hover,
:active {
  background-color: #212529;
  color: #dee2e6;
}
.pointer {
  cursor: pointer;
}
.container1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.container1 h1 p {
  text-transform: uppercase;
  display: block;
}
.website-text {
  color: #dee2e6;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 8px;
  margin-top: 25%;
  margin-bottom: 25px;
  position: relative;
  animation: text 3s infinite;
}
.text-line {
  font-size: 20px;
  color: #6c757d;
}
p {
  font-style: italic;
  color: #dee2e6;
}

.vehicle-info,
.slideshow-container,
.content,#car-buttons{
  background-color: #212529;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
#car-buttons .btn{
  border: 1px solid #dee2e6;
  color: #dee2e6;
}

.form-inline select {
  margin-right: 15px;
  padding-left: 10px;
}
.search-vehicle .custom-select {
  width: 270px;
  height: 50px;
}
#carouselExampleCaptions {
  margin-left: 20%;
  margin-right: 20%;
}
.card {
  padding: 5px;
  margin: 10px;
  background-color: #212529;
}
.cards-info {
  display: flex;
}
.card-text {
  text-align: center;
}
h2,
h5 {
  text-align: center;
  font-weight: 700;
  margin: 25px;
}
.carousel-item img {
  height: 80vh;
}
span {
  color: #0a0908;
  font-style: italic;
}
.search-category {
  margin-top: 3px;
  padding: 5px;
}
.more-images {
  display: none;
  overflow: hidden;
}
#showMoreBtn {
  padding-left: 5px;
  margin-left: 15px;
}
.choose-us .cards {
  margin: 25%;
}
.choose-us .card-text {
  color: #000000;
  font-size: medium;
}
.mySlides {
  text-align: center;
  padding: 20px;
}
q {
  margin-top: 10px;
  font-style: italic;
  color: #edf6f9;
}
.author {
  color: #fff;
}
.prev,
.next {
  position: relative;
  cursor: pointer;
  align-self: auto;
  width: auto;
  color: #dee2e6;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  transition: all 0.1s;
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
  padding-right: 20px;
}
.prev:hover,
.next:hover {
  color: #212529;
}
.dot-container {
  text-align: center;
  margin-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0;
  background-color: #344e41;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  padding: 30px;
  mix-blend-mode: multiply;
}
.swiper-button-prev,.swiper-button-next{
  color: #212529;
  
}
.active,
.dot:hover {
  background-color: #737373;
}
#car-buttons .btn{
  --bs-btn-padding-y: .75rem; 
  --bs-btn-padding-x: .75rem; 
  --bs-btn-font-size: 1rem;
  text-align: center;
  margin: 1.5rem;
  margin-left: 2rem;
  width: 10%;
  text-transform: uppercase;
}
#car-buttons .btn:hover,:active{
  background-color: #6c757d;
}
footer {
  background-color: #212529;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
ul.footer-links {
  text-decoration: none;
}
.footer hr {
  opacity: 0.5;
}

.footer h4 {
  padding-left: 20px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 1px;
}
footer a {
  color: #737373;
}
.footer a:hover {
  color: #0a0908;
  text-decoration: none;
}
.footer-links {
  padding-left: 20px;
  list-style: none;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #0a0908;
  text-decoration: none;
}
.footer .social-icons {
  text-align: right;
}
.footer .social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 5px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}
.copyright-text {
  margin: 0;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 5px;
}
.social-icons a {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0a0908;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.instagram:hover {
  background-color: #e4405f;
}

/* media-query */
@media (max-width: 767px) {
  .social-icons li {
    display: block;
    margin-right: 0;
    font-weight: 500;
  }
  .footer {
    padding-bottom: 0;
  }
  .footer .copyright-text,
  .footer .social-icons {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 20px;
    margin: 30px;
  }
}

@keyframes text {
  0% {
    color: black;
    opacity: 0;
    margin-bottom: 40px;
  }
  25% {
    opacity: 0.5;
    letter-spacing: 15px;
    margin-bottom: 40px;
  }
  50% {
    opacity: 0.7;
    letter-spacing: 20px;
    margin-bottom: 40px;
  }
  75% {
    opacity: 1;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }
}
